<%- include('../partials/header', { loggedIn }); %>

<h1 class="display-5 mb-2 text-center">Login</h1>

<div class="container d-flex align-items-center justify-content-center">

  <form action="/auth/login" method="POST">

    <label for="email" class="form-label text-muted">Email *</label>

    <input
      type="email"
      class="form-control mb-3"
      id="email"
      name="email"
      placeholder="Email *"
      required
      autofocus
    />

    <label for="password" class="form-label text-muted">Password *</label>

    <input
      type="password"
      class="form-control mb-3"
      id="password"
      name="password"
      placeholder="Password *"
      required
    />

    <input type="submit" class="form-control btn btn-primary py-2 mb-3" />

    <hr />
    <p class="form-text text-center">
      Or, login with your social media account.
    </p>

    <!-- Socials -->
    <div class="d-flex flex-column">
      <a class="btn btn-danger py-2 mb-2" href="/auth/google"
        ><span class="bi bi-google"></span> Login With Google</a
      >
      <a class="btn btn-info text-white py-2 mb-2 disabled" href="/auth/twitter"
        ><span class="bi bi-twitter"></span> Login Twitter</a
      >
      <a
        class="btn btn-primary text-white py-2 mb-2 disabled"
        href="/auth/facebook"
        ><span class="bi bi-facebook"></span> Login Facebook</a
      >
    </div>

    <hr />

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a href="/auth/forgot-password" class="nav-link">Forgot Password</a>
      </li>
      <li class="nav-item">
        <a href="/auth/signup" class="nav-link">Create Account</a>
      </li>
      <li class="nav-item">
        <a href="/help" class="nav-link">Help</a>
      </li>
    </ul>

    <% if(error) { error.map(msg => { %>
    <div class="bg-warning p-2 my-2 rounded"><%= msg %></div>
    <% }) } %>

  </form>
</div>
<%- include('../partials/footer'); %>
