<%- include('../partials/header', { loggedIn }); %>

<h1 class="display-5 mb-2 text-center">Reset Password</h1>

<div class="container d-flex align-items-center justify-content-center">

  <form action="/auth/passwordResetRequest" method="POST" style="width: 400px;">

    <p class="form-text">Please enter your registered email below.</p>

    <% if(message) { %> 
      <div class="alert alert-warning"><%= message %></div>
    <% } %>

    <input
      type="email"
      class="form-control mb-3"
      id="email"
      name="email"
      placeholder="Email *"
      required
      autofocus
    />

    <input type="submit" class="form-control btn btn-primary py-2 mb-3" />

    <% if(error) { error.map(msg => { %>
    <div class="alert alert-danger"><%= msg %></div>
    <% }) } %>

  </form>
</div>
<%- include('../partials/footer'); %>
