<%- include('../partials/header', { loggedIn }); %>

<h1 class="display-5 mb-2 text-center">Update Password</h1>

<div class="container d-flex align-items-center justify-content-center">

  <form action="/auth/passwordReset" method="POST" style="width: 400px;">

    <input 
      type="text"
      name='token'
      value='<%= token %>'
      hidden
    />

   <input 
      type="text"
      name='user_id'
      value='<%= user_id %>'
      hidden
    />

    <input
      type="password"
      class="form-control mb-3"
      id="password"
      name="password"
      placeholder="Password *"
      required
      autofocus
    />

    <input type="submit" class="form-control btn btn-primary py-2 mb-3" />

  </form>
</div>
<%- include('../partials/footer'); %>
