<table class="table table-bordered table-hover">
<thead>
<tr>
<th>Module</th>
<th>Score</th>
</thead>
</tr>
<tbody>
<% userScore.module_scores.map(moduleScore => { %>
<tr>
    <td>
    <%= moduleScore.name %>
    </td>
    <td>
    <%= moduleScore.score %>
    </td>
</tr>
<% }) %>
</tbody>
</table>