<ul class="nav justify-content-center">
  <li class="nav-item">
    <a href="/users/profile/update" class="nav-link">Update Profile</a>
  </li>
  <!-- <li class="nav-item">
    <a href="/contacts" class="nav-link">Contact Book</a>
  </li> -->
</ul>
