<%- include('../partials/header.ejs', { loggedIn }) %> <%-
include('./basicProfile', { user }) %>

<div class="container">
  <a href="/users/profile/update" class="btn btn-outline-primary"
    >Update Profile</a
  >
  <% if(user.role == 'admin') { %>
  <a href="/users/" class="btn btn-outline-dark">View All Users</a>
  <% } %>
</div>

<%- include('./assessmentList', { assessments }) %> <%-
include('../partials/footer.ejs') %>
