<%- include('../partials/header.ejs', { loggedIn }) %> <%-
include('./profile.details.ejs', { user }) %>

<div class="container">
  <a href="/users/profile/update" class="btn btn-outline-primary">Update Profile</a>

  <ul class="nav justify-content-center">
    <% if(user.role == 'admin') { %>
    <li class="nav-item">
      <a href="/assessments/CDT/responses/" class="nav-link"
        >Divergent Thinking Responses</a
      >
    </li>
    <li class="nav-item">
      <a href="/users/" class="nav-link">View All Users</a>
    </li>
    <% } %>
  </ul>
</div>

<%- include('./assessmentList', { assessments }) %> <%-
include('../partials/footer.ejs') %>
