<%- include('../partials/header.ejs', { loggedIn }) %> <%-
include('./basicProfile', { user }) %>

<div class="container">
  <a href="/users/profile/update" class="btn btn-outline-primary"
    >Update Profile</a
  >
  <% if(user.role == 'admin') { %>
  <ul>
    <li>
      <a href="/divergent/responses/" class=""
        >See Divergent Thinking Responses</a
      >
    </li>
    <li>
      <a href="/users/">View All Users</a>
    </li>
  </ul>
  <% } %>
</div>

<%- include('./assessmentList', { assessments }) %> <%-
include('../partials/footer.ejs') %>
