<ul class="nav justify-content-center">
  <li class="nav-item">
    <a href="/users/profile/update" class="nav-link">Update Profile</a>
  </li>
  <li class="nav-item">
    <a href="/users/assessments" class="nav-link">My Assessments</a>
  </li>
  <li class="nav-item">
    <a href="/users/settings" class="nav-link">Settings</a>
  </li>
</ul>