
<a
href="/forms/<%= userScore.assessment_id %>"
class="btn btn-primary my-2"
>Take Again</a>

<a
href="/users/scores/delete/<%= userScore._id %>"
class="btn btn-secondary my-2"
>Delete Score</a>

<a href="/users/reports/<%= userScore._id %>" class="btn btn-dark">
View Report</a>
