<%- include('../partials/header.ejs', { loggedIn }) %>
<div class="container">
  <div class="display-5">Creativity Motivation Assessment</div>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore facilis
    ducimus deserunt illum enim hic consectetur explicabo ipsam, nulla similique
    velit quidem eveniet minima voluptatum tenetur, mollitia libero! Aliquam,
    perferendis!
  </p>
  <a href="/creativity/enroll/CM" class="btn btn-outline-primary">START</a>
</div>
<%- include('../partials/footer.ejs', { loggedIn }) %>
