<%- include('../partials/header.ejs', { loggedIn }) %>
<div class="container">
  <div class="display-5">Convergent Thinking Assessment</div>
  <a href="/creativity/CCT/enroll" class="btn btn-outline-primary">START</a>
</div>
<%- include('../partials/footer.ejs', { loggedIn }) %>
