<!-- Creativity Personality Assessment -->
<%- include('../partials/header', { loggedIn }) %>
<div class="container">
  <div class="display-4">Creativity Test</div>

  <a class="btn btn-outline-primary" href="/creativity/questions/CP">Start</a>
</div>
<%- include('../partials/footer', { loggedIn }) %>
