<%- include('../partials/header.ejs', { loggedIn }) %>
<div class="container">
  <div class="display-5">Divergent Thinking Assessment</div>
  <a href="/creativity/Divergent/enroll" class="btn btn-outline-primary"
    >START</a
  >
</div>
<%- include('../partials/footer.ejs', { loggedIn }) %>
