<%- include('../partials/header.ejs', { loggedIn }) %>

<div class="container mt-2">
  <div class="display-5 mb-2">National Employability Skills Test</div>
  <p>
    N.E.S.T. is a proprietary assessment module which delivers both online and
    offline assessments for all Aspire Employability Products. It is designed to
    assess an individual on 10 different axes related to a person’s:
  </p>
  <ul>
    <li>Personality and Soft Skills</li>
    <li>General Aptitude and Reasoning</li>
    <li>English Language and Communication Skills</li>
  </ul>

  <h2>Highlights</h2>
  <ol>
    <li>
      <strong>Online Testing:</strong>
      Aspire has the capability to deliver N.E.S.T. online for 100s of
      candidates simultaneously.
    </li>

    <li>
      <strong>Online Testing:</strong>
      N.E.S.T. can be easily customized for multiple tests across 50+ axes like
      Personality and Soft Skills, General Aptitude and Reasoning and English
      Language and Communication Skills, etc.
    </li>

    <li>
      <strong>Dynamic Benchmarking:</strong>
      N.E.S.T. compares every assessed candidate with his/her university, state,
      country, etc. to give a dynamic benchmarking and percentile score for real
      understanding of his/her competitive career positioning.
    </li>

    <li>
      <strong>Employability Index:</strong>
      Finally, N.E.S.T. is unique in also comparing each candidate’s scores with
      an Employability Index, an Employer-driven dynamic, real-time index for
      skills in entry-level professionals.
    </li>
  </ol>

  <h4>Features</h4>
  <ul>
    <li>Questions of multiple difficulty levels</li>
    <li>Questions in the form of text or image</li>
    <li>Up to 5 choices for the answers to every question</li>
    <li>Large question bank to ensure randomness</li>
    <li>Automatic individual score analysis and generation of reports</li>
  </ul>

  <h4>Benefits</h4>
  <ul>
    <li>
      Candidates can identify their strengths and development areas in relation
      to their goals
    </li>
    <li>Objective pre-and-post training assessment for SWOT diagnosis</li>
    <li>
      Assesses individuals in their listening skills, leadership, team work,
      time management, language and the seven management hats
    </li>
    <li>
      Gives the candidates a clear idea of where they stand vis-a-vis the
      employability index
    </li>
  </ul>
</div>

<%- include('./enroll.button.ejs', { assessment }) %> <%-
include('../partials/footer.ejs') %>
