<%- include('partials/header', { user }); %>

<div class="container">
  <p>Sorry, page was not found.</p>
</div>

<script>
  const timer = setTimeout(() => {
    window.location.href = "/";
  }, 2000);
</script>

<%- include('partials/footer'); %>
