<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <span class="h4"><%= chat.contact_name %></span>
  </div>
  <div class="col-md-4 text-end">
    <button class="btn">
      <span class="bi bi-three-dots"></span>
    </button>
  </div>
</div>
