<div class="mt-2">
  <form action="">
    <div class="d-flex">
      <textarea
        name="content"
        rows="2"
        placeholder="Type message..."
        class="form-control p-2"
      ></textarea>

      <button type="submit" class="btn btn-outline-success">Send</button>
    </div>
  </form>
</div>
