<div
  id="new-message-modal"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="new message modal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Compose New Message</div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="">
          <input
            type="text"
            class="form-control w-100 p-2"
            placeholder="Search contacts..."
          />
        </form>
        <div class="overflow-scroll">
          <% users.forEach(profile => { %>
          <div class="p-4">
            <div class="d-flex align-items-start">
              <div>
                <img
                  src="<%= profile.img_url %>"
                  alt="profile picture"
                  class="img-fluid img-thumbnail"
                  width="128"
                />
              </div>
              <div class="ms-2">
                <div class="h5"><%= profile.name %></div>
                <div class="small text-muted"><%= profile.email %></div>
                <a
                  href="/chats?user_id=<%= profile._id %>"
                  class="btn btn-outline-primary mt-2"
                  >Message</a
                >
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>
