<%- include('../partials/header', { loggedIn }); %>

  <div class="container">
    <p>Sorry, page was not found.</p>
    <a href="/">Go back to home instead</a>
  </div>

  <script>
    // const timer = setTimeout(() => {
    //   window.location.href = "/";
    // }, 3000);
  </script>

  <%- include('../partials/footer'); %>