<%- include('../partials/header', { loggedIn }); %>

  <div class="container">
    <div class="alert alert-warning">
        <%= message %>
    </div>
  </div>

  <%- include('../partials/footer'); %>