<%- include('../partials/header', { loggedIn }); %>

  <div class="container">
    <div class="p-2 bg-warning rounded">
        <%= message %>
    </div> 
  </div>

  <%- include('../partials/footer'); %>