<%- include('../partials/header.ejs', { loggedIn }) %>
<div class="container">
  <div class="display-5">Social Leadership Assessment</div>
  <%- include('./enroll.button.ejs', { assessment }) %>
</div>
<%- include('../partials/footer.ejs', { loggedIn }) %>
