<!-- Creativity Personality Questions -->
<%- include('../partials/header', { loggedIn }) %>
<div class="container">
  <form action="/creativity/submit/CP" method="POST">
    Hello, world.
    <button type="submit" class="btn btn-outline-primary">Submit</button>
  </form>
</div>
<%- include('../partials/footer', { loggedIn }) %>
