<%- include('../partials/header.ejs', { loggedIn }) %>

<div class="container">
  <div class="display-4">Creativity Temperament Assessment</div>
  <p>
    Please read each statement given below and write in the right margin the
    appropriate number to indicate your opinion on each statement. Since this is
    a feedback instrument, be as truthful as you can.
  </p>
  <ul>
    <li>6 = Fully Agree</li>
    <li>5 = Great Extent</li>
    <li>4 = Substantial Extent</li>
    <li>3 = Modest Extent</li>
    <li>2 = Marginally</li>
    <li>1 = Does Not Apply</li>
  </ul>

  <form action="/creativity/CT/submit" method="POST" name="myForm">
    <% questions.map(question => { %>
    <div class="shadow-sm rounded p-2 my-4 bg-light">
      <!-- Question begins -->
      <div class="p"><%= question.statement %></div>
      <hr />
      <!-- Question ends -->
    </div>
    <% }) %>

    <input
      type="submit"
      class="btn btn-primary"
      value="Submit"
      onclick="handleSubmit();"
    />
  </form>
</div>

<script>
  function handleSubmit() {
    if (confirm("Are you sure you want to submit the assessment?")) {
      document.myForm.submit();
    }
  }

  document.myForm.addEventListener("submit", function (event) {
    event.preventDefault();
  });
</script>

<%- include('../partials/footer.ejs') %>
